{% extends "base.html" %}

{% block title %}NPC Demo{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('adventure.static', filename='css/npc_demo.css') }}">
{% endblock %}

{% block content %}
<div class="chat-container">
    <div id="chat-history"></div>
    
    <div class="input-container">
        <input type="text" id="user-input" placeholder="Type your message...">
        <button id="send-button">Send</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('adventure.static', filename='js/npc_demo.js') }}" defer></script>
{% endblock %} 